*
!.gitignore

!x64/
!x64/Release*/
!x64/Release*/nvFlexDop*.dll*
!x64/*
!x64/*/*
!x64/*/*/*
!x64/*/*/*/*.so
!bin
!bin/*/
!bin/*/*

!nvFlexDop/
!nvFlexDop/*
!nvFlexDop/*/*
!nvFlexDop/*/*/*
!nvFlexDop/*/*/*/*
nvFlexDop/**/*.o

!examples
!examples/*

!otls
!otls/*

!README.md
!Makefile
!linux_build.sh

**.vcxproj.user
nvFlexDop/x64/

